// Variables
$basic-font-size: 13px;
$text-font-size: 15px;
$font-family: "Segoe UI", Arial, Helvetica, sans-serif;
$mainNavbarColor: #262626;
$navbarIconsColor: rgb(158, 155, 155);
$lightGreyColor: #f2f2f2;
